.header {
  display: flex;
  align-items: center;

  height: 50px;
  padding: 0px 40px;

  background-color: rgba(6, 6, 6, 0.897);

  ul {
    display: flex;

    margin-left: 40px;

    li + li {
      margin-left: 40px;
    }
    a {
      color: yellow;
    }
  }
}
